<!doctype html>
<html lang="en">

	<meta charset="utf-8">

	<head>

		<title><%= config.title %></title>

		<%- css('css/style') %>

		<!-- Start Google Analytics --> 
		<%- partial('google-analytics') %>
  		<!-- End Google Analytics --> 

	</head>